<h1>Création d'une tache</h1>

<form action="{{ path('task_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Créer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Retour à la liste
        </a>
    </li>
</ul>
